@import url('styleJanelaInicial.css');

@font-face {
    font-family: 'Retro';
    src: url('../fonts/Retro Gaming.ttf') format('truetype');
}

:root {
    --profundidade-mario: 4;
    --profundidade-encanamento: 3;
    --profundidade-grama: 2;
    --profundidade-nuvens: 1;
    --profundidade-janela-jogo: 0;

    --widht-pipe: clamp(60px, 10%, 100px);
    --right-start-pipe-animation: clamp(-60px, -10%, -100px);
    --jump-mario: clamp(150px, 30%, 200px);
    --nuvem-scale: 0.7;

    /* Valores padrão */
    --tempo-pulo-mario: 0.5s;
    --tempo-encanamento: 3s;
    --tempo-nuvem: 5s;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pontos{
    font-family: 'Retro' , Times, serif;
    color: rgb(56, 56, 56);
}

body{
    background-image: linear-gradient( 0deg, aqua 70% , rgb(169, 249, 249) );
    width: 100vw;
    height: 100vh;
}

div#janela_jogo {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    position: fixed;
    bottom: 0;

    z-index: var(--profundidade-janela-jogo);
}

.img-nuvens>img {
    scale: var(--nuvem-scale);

    z-index: var(--profundidade-nuvens);
}

.img-nuvens {
    animation: obstaculos var(--tempo-nuvem) infinite linear;
    position: absolute;
    top: 15%;

    z-index: var(--profundidade-nuvens);
}

.img-grass {
    background-image: url('../images/grass.png');
    
    width: 100vw;
    height: 100vh;
    
    background-repeat: repeat-x;
    background-size: contain;
    
    position: absolute;
    bottom: 0;
    
    z-index: var(--profundidade-grama);
}

img#mario-personagem{
    width: clamp(100px, 20%, 150px);
    left: 5%;
    position: absolute;
    bottom: 0;
   
    z-index: var(--profundidade-mario);
}

img#encanamento{
    width: var(--widht-pipe);
    position: absolute;
    bottom: 0;
    z-index: var(--profundidade-encanamento);
}

.salto{
    animation: salto var(--tempo-pulo-mario) ease-out;
}

.obstaculos{
    animation: obstaculos var(--tempo-encanamento) infinite linear;
}

.gameOver{
    animation: saltoGameOver 0.9s;
}

.pontuacao {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@keyframes salto{
    0% {bottom: 0;}

    44%, 50%, 56%{
        bottom: var(--jump-mario);
    }

    100% {bottom: 0;}

}

@keyframes saltoGameOver{
    0%{
        bottom: 0;
    }

    30%{
        bottom: 0;
    }

    48%{
        bottom: 150px;
    }

    50%{
        bottom: 150px;
    }

    52%{
        bottom: 150px;
    }

    100% {bottom: -240px;}

}

@keyframes obstaculos{
    from {
        right: -50%;
    }
    to {
        right: 100%;
    }
}

@keyframes nuvem-animacao{
    from {
        right: -50%;
    }
    to {
        right: 100%;
    }
}

@media (max-width: 1048px) {
    /* 1048, 1024 */
    .img-grass {
        background-size: cover;
        height: 100vh;
    }
}